Andreas Burger <andreas.burger@uni-konstanz.de>
Christian Dietz <christian.dietz@uni-konstanz.de>
Daniel Seebacher <daniel.seebacher@googlemail.com>
Jonathan Hale <squareys@googlemail.com>
Thorsten Meinl <thorsten.meinl@knime.com>
