<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     <extension
         point="org.knime.workbench.repository.nodes">
        <node
              category-path="/community/knip/tracking"
              expert-flag="false"
              factory-class="org.knime.knip.tracking.nodes.laptracker.LAPTrackerNodeFactory"
              id="org.knime.knip.ext.trackmate.nodes.tracker.LAPTrackerNodeFactory">
        </node>
        <node
              category-path="/community/knip/tracking"
              expert-flag="false"
              factory-class="org.knime.knip.tracking.nodes.hiliter.TrackHilitePropagatorNodeFactory"
              id="org.knime.knip.ext.trackmate.nodes.tracker.TrackHilitePropagatorNodeFactory">
        </node>
     </extension>
     <extension
           point="org.knime.workbench.repository.categories">
        <category
              icon="icons/cube.png"
              level-id="tracking"
              name="Tracking"
              path="/community/knip/">
        </category>
     </extension>
     <extension
           point="org.knime.workbench.repository.nodesets">
        <nodeset
              expert-flag="false"
              factory-class="org.knime.knip.tracking.nodes.TrackingNodeSetFactory"
              id="org.knime.knip.tracking.nodes.TrackingNodeSetFactory">
        </nodeset>
     </extension>
</plugin>
