<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="IFormatReader" name="IFormatReader" schema="schema/IFormatReader.exsd"/>
   <extension-point id="ScifioFormat" name="ScifioFormat" schema="schema/ScifioFormat.exsd"/>
     <extension
           point="org.knime.workbench.repository.nodesets">
        <nodeset
              expert-flag="false"
              factory-class="org.knime.knip.io.nodes.IONodeSetFactory"
              id="org.knime.knip.io.nodes.IONodeSetFactory">
        </nodeset>
     </extension>
     <extension
           point="org.knime.knip.base.TableCellView">
        <TableCellView
              TableCellViewFactory="org.knime.knip.io.view.XMLCellViewFactory">
        </TableCellView>
     </extension>
     <extension
           point="org.knime.workbench.repository.registeredFileExtensions">
        <FileExtensionMapping
              NodeFactory="org.knime.knip.io.nodes.imgreader2.readfromdialog.ImgReader2NodeFactory">
			<FileExtension extension="1sc"></FileExtension>
			<FileExtension extension="2fl"></FileExtension>
			<FileExtension extension="acff"></FileExtension>
			<FileExtension extension="afi"></FileExtension>
			<FileExtension extension="aiix"></FileExtension>
			<FileExtension extension="aim"></FileExtension>
			<FileExtension extension="aisf"></FileExtension>
			<FileExtension extension="al3d"></FileExtension>
			<FileExtension extension="ali"></FileExtension>
			<FileExtension extension="am"></FileExtension>
			<FileExtension extension="amiramesh"></FileExtension>
			<FileExtension extension="ano"></FileExtension>
			<FileExtension extension="atsf"></FileExtension>
			<FileExtension extension="avi"></FileExtension>
			<FileExtension extension="bip"></FileExtension>
			<FileExtension extension="bmp"></FileExtension>
			<FileExtension extension="btf"></FileExtension>
			<FileExtension extension="ch5"></FileExtension>
			<FileExtension extension="cif"></FileExtension>
			<FileExtension extension="cr2"></FileExtension>
			<FileExtension extension="cxd"></FileExtension>
			<FileExtension extension="czi"></FileExtension>
			<FileExtension extension="df3"></FileExtension>
			<FileExtension extension="dib"></FileExtension>
			<FileExtension extension="dicom"></FileExtension>
			<FileExtension extension="dm2"></FileExtension>
			<FileExtension extension="dm3"></FileExtension>
			<FileExtension extension="dti"></FileExtension>
			<FileExtension extension="dv"></FileExtension>
			<FileExtension extension="eps"></FileExtension>
			<FileExtension extension="epsi"></FileExtension>
			<FileExtension extension="ets"></FileExtension>
			<FileExtension extension="exp"></FileExtension>
			<FileExtension extension="fdf"></FileExtension>
			<FileExtension extension="fff"></FileExtension>
			<FileExtension extension="ffr"></FileExtension>
			<FileExtension extension="fits"></FileExtension>
			<FileExtension extension="flex"></FileExtension>
			<FileExtension extension="gel"></FileExtension>
			<FileExtension extension="gif"></FileExtension>
			<FileExtension extension="grey"></FileExtension>
			<FileExtension extension="hdf"></FileExtension>
			<FileExtension extension="hed"></FileExtension>
			<FileExtension extension="his"></FileExtension>
			<FileExtension extension="htd"></FileExtension>
			<FileExtension extension="hx"></FileExtension>
			<FileExtension extension="i2i"></FileExtension>
			<FileExtension extension="ics"></FileExtension>
			<FileExtension extension="ids"></FileExtension>
			<FileExtension extension="im3"></FileExtension>
			<FileExtension extension="ima"></FileExtension>
			<FileExtension extension="img"></FileExtension>
			<FileExtension extension="ims"></FileExtension>
			<FileExtension extension="inr"></FileExtension>
			<FileExtension extension="ipl"></FileExtension>
			<FileExtension extension="ipm"></FileExtension>
			<FileExtension extension="ipw"></FileExtension>
			<FileExtension extension="j2k"></FileExtension>
			<FileExtension extension="j2ki"></FileExtension>
			<FileExtension extension="j2kr"></FileExtension>
			<FileExtension extension="jp2"></FileExtension>
			<FileExtension extension="jpe"></FileExtension>
			<FileExtension extension="jpeg"></FileExtension>
			<FileExtension extension="jpf"></FileExtension>
			<FileExtension extension="jpg"></FileExtension>
			<FileExtension extension="jpk"></FileExtension>
			<FileExtension extension="jpx"></FileExtension>
			<FileExtension extension="l2d"></FileExtension>
			<FileExtension extension="lei"></FileExtension>
			<FileExtension extension="lif"></FileExtension>
			<FileExtension extension="liff"></FileExtension>
			<FileExtension extension="lim"></FileExtension>
			<FileExtension extension="lms"></FileExtension>
			<FileExtension extension="lsm"></FileExtension>
			<FileExtension extension="lut"></FileExtension>
			<FileExtension extension="mea"></FileExtension>
			<FileExtension extension="mnc"></FileExtension>
			<FileExtension extension="mov"></FileExtension>
			<FileExtension extension="mrw"></FileExtension>
			<FileExtension extension="msr"></FileExtension>
			<FileExtension extension="mtb"></FileExtension>
			<FileExtension extension="mvd2"></FileExtension>
			<FileExtension extension="naf"></FileExtension>
			<FileExtension extension="nd"></FileExtension>
			<FileExtension extension="nd2"></FileExtension>
			<FileExtension extension="ndpi"></FileExtension>
			<FileExtension extension="ndpis"></FileExtension>
			<FileExtension extension="nef"></FileExtension>
			<FileExtension extension="nhdr"></FileExtension>
			<FileExtension extension="nii"></FileExtension>
			<FileExtension extension="nrrd"></FileExtension>
			<FileExtension extension="obf"></FileExtension>
			<FileExtension extension="oib"></FileExtension>
			<FileExtension extension="oif"></FileExtension>
			<FileExtension extension="ome"></FileExtension>
			<FileExtension extension="ome.tif"></FileExtension>
			<FileExtension extension="ome.tiff"></FileExtension>
			<FileExtension extension="pcoraw"></FileExtension>
			<FileExtension extension="pct"></FileExtension>
			<FileExtension extension="pcx"></FileExtension>
			<FileExtension extension="pgm"></FileExtension>
			<FileExtension extension="pic"></FileExtension>
			<FileExtension extension="pict"></FileExtension>
			<FileExtension extension="png"></FileExtension>
			<FileExtension extension="pnl"></FileExtension>
			<FileExtension extension="psd"></FileExtension>
			<FileExtension extension="pty"></FileExtension>
			<FileExtension extension="r3d"></FileExtension>
			<FileExtension extension="r3d_d3d"></FileExtension>
			<FileExtension extension="raw"></FileExtension>
			<FileExtension extension="sm2"></FileExtension>
			<FileExtension extension="sm3"></FileExtension>
			<FileExtension extension="spi"></FileExtension>
			<FileExtension extension="stk"></FileExtension>
			<FileExtension extension="stp"></FileExtension>
			<FileExtension extension="svs"></FileExtension>
			<FileExtension extension="tf2"></FileExtension>
			<FileExtension extension="tf8"></FileExtension>
			<FileExtension extension="tfr"></FileExtension>
			<FileExtension extension="tga"></FileExtension>
			<FileExtension extension="thm"></FileExtension>
			<FileExtension extension="tif"></FileExtension>
			<FileExtension extension="tiff"></FileExtension>
			<FileExtension extension="tim"></FileExtension>
			<FileExtension extension="tnb"></FileExtension>
			<FileExtension extension="top"></FileExtension>
			<FileExtension extension="vsi"></FileExtension>
			<FileExtension extension="vws"></FileExtension>
			<FileExtension extension="wat"></FileExtension>
			<FileExtension extension="wlz"></FileExtension>
			<FileExtension extension="xdce"></FileExtension>
			<FileExtension extension="xlog"></FileExtension>
			<FileExtension extension="xqd"></FileExtension>
			<FileExtension extension="xqf"></FileExtension>
			<FileExtension extension="xv"></FileExtension>
			<FileExtension extension="xys"></FileExtension>
			<FileExtension extension="zfp"></FileExtension>
			<FileExtension extension="zfr"></FileExtension>
			<FileExtension extension="zpo"></FileExtension>
			<FileExtension extension="zvi"></FileExtension>
        </FileExtensionMapping>
     </extension>
</plugin>
