<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodesets">
      <nodeset
            expert-flag="false"
            factory-class="org.knime.knip.scijava.module.ModuleNodeSetFactory"
            id="org.knime.knip.scijava.nodes.ModuleNodeSetFactory">
      </nodeset>
   </extension>
</plugin>
