<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodesets">
      <nodeset
            default-category-icon="src/org/knime/knip/scijava/module/nodes/default_icon.png"
            expert-flag="false"
            factory-class="org.knime.knip.scijava.module.nodes.ModuleNodeSetFactory"
            id="org.knime.knip.scijava.module.nodes.ModuleNodeSetFactory">
      </nodeset>
   </extension>
</plugin>
