<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="TableCellView" name="TableCellView" schema="schema/TableCellView.exsd"/>
   <extension-point id="Convolver" name="Convolver" schema="schema/Convolver.exsd"/>
     <extension
           point="org.knime.workbench.repository.categories">
        <category
              description="Image Processing and Mining Nodes from the University of Konstanz"
              icon="icons/cube.png"
              level-id="knip"
              name="KNIME Image Processing"
             path="/community">
        </category>
        <category
              description="Reading and writing images from/to various sources."
              icon="icons/cube.png"
              level-id="io"
              name="IO"
             path="/community/knip">
        </category>
        <category
              icon="icons/cube.png"
              level-id="other"
              name="Other"
              path="/community/knip/io">
        </category>
        <category
              description="Operations on images"
              icon="icons/cube.png"
              level-id="image"
              name="Image"
              path="/community/knip">
        </category>
        <category
              icon="icons/cube.png"
              level-id="process"
              name="Process"
             path="/community/knip/image">
        </category>
        <category
              icon="icons/cube.png"
              level-id="binary"
              name="Binary"
              path="/community/knip/image">
        </category>
        <category
              icon="icons/cube.png"
              level-id="filters"
              name="Filters"
              path="/community/knip/image">
        </category>
        <category
              after="image"
              icon="icons/cube.png"
              level-id="labeling"
              name="Labeling"
              path="/community/knip">
        </category>
        <category
              after="labeling"
              icon="icons/cube.png"
              level-id="features"
              name="Features"
             path="/community/knip">
        </category>
        <category
              after="features"
              icon="icons/cube.png"
              level-id="views"
              name="Views"
             path="/community/knip">
        </category>
        <category
              after="process"
              icon="icons/cube.png"
              level-id="metadata"
              name="Metadata"
             path="/community/knip/image">
        </category>
        <category
              icon="icons/cube.png"
              level-id="misc"
              name="Misc"
              path="/community/knip/image">
        </category>
     </extension>
     <extension
           point="org.eclipse.ui.preferencePages">
        <page
              category="org.knime.workbench.ui.preferences"
              class="org.knime.knip.base.prefs.MainPreferencePage"
              id="org.knime.knip.base.prefs.MainPreferencePage"
              name="Image Processing Plugin">
        </page>
     </extension>
     <extension
           point="org.eclipse.core.runtime.preferences">
        <initializer
              class="org.knime.knip.base.prefs.PreferenceInitializer">
        </initializer>
     </extension>
     <extension
           point="org.knime.workbench.repository.nodesets">
        <nodeset
              factory-class="org.knime.knip.base.nodes.proc.ProcNodeSetFactory"
              id="org.knime.knip.base.nodes.proc.ProcNodeSetFactory">
        </nodeset>
        <nodeset
              factory-class="org.knime.knip.base.nodes.seg.LabNodeSetFactory"
              id="org.knime.knip.base.nodes.seg.LabNodeSetFactory">
        </nodeset>
        <nodeset
              factory-class="org.knime.knip.base.nodes.view.ViewsNodeSetFactory"
              id="org.knime.knip.base.nodes.view.ViewsNodeSetFactory">
        </nodeset>
        <nodeset
              factory-class="org.knime.knip.base.nodes.features.FeatureNodeSetFactory"
              id="org.knime.knip.base.nodes.features.FeatureNodeSetFactory">
        </nodeset>
        <nodeset
              factory-class="org.knime.knip.base.nodes.proc.binary.BinaryProcNodeSetFactory"
              id="org.knime.knip.base.nodes.proc.binary.BinaryProcNodeSetFactory">
        </nodeset>
        <nodeset
              factory-class="org.knime.knip.base.nodes.filter.FilterNodeSetFactory"
              id="org.knime.knip.base.nodes.filter.FilterNodeSetFactory">
        </nodeset>
        <nodeset
              factory-class="org.knime.knip.base.nodes.metadata.MetadataNodeSetFactory"
              id="org.knime.knip.base.nodes.metadata.MetadataNodeSetFactory">
        </nodeset>
        <nodeset
              factory-class="org.knime.knip.base.nodes.knimeimagebridge.ConversionNodeSetFactory"
              id="org.knime.knip.base.nodes.knimeimagebridge.ConversionNodeSetFactory">
        </nodeset>
        <nodeset
              factory-class="org.knime.knip.base.nodes.misc.MiscNodeSetFactory"
              id="org.knime.knip.base.nodes.misc.MiscNodeSetFactory">
        </nodeset>
        <nodeset
              factory-class="org.knime.knip.base.nodes.io.IONodeSetFactory"
              id="org.knime.knip.base.nodes.io.IONodeSetFactory">
        </nodeset>
     </extension>
     <extension
           point="org.knime.base.AggregationOperator">
        <AggregationOperator
              AggregationOperator="org.knime.knip.base.data.aggregation.ImgMeanOperator">
        </AggregationOperator>
        <AggregationOperator
              AggregationOperator="org.knime.knip.base.data.aggregation.ImgMaxOperator">
        </AggregationOperator>
        <AggregationOperator
              AggregationOperator="org.knime.knip.base.data.aggregation.ImgMinOperator">
        </AggregationOperator>
        <AggregationOperator
              AggregationOperator="org.knime.knip.base.data.aggregation.ImgMergeOperator">
        </AggregationOperator>
        <AggregationOperator
              AggregationOperator="org.knime.knip.base.data.aggregation.LabelingComposeOperator">
        </AggregationOperator>
        <AggregationOperator
              AggregationOperator="org.knime.knip.base.data.aggregation.ImgComposeOperator">
        </AggregationOperator>
        <AggregationOperator
              AggregationOperator="org.knime.knip.base.data.aggregation.LabelingComposeOperatorDeprecated"
              deprecated="true">
        </AggregationOperator>
        <AggregationOperator
              AggregationOperator="org.knime.knip.base.data.aggregation.ImgComposeOperatorDeprecated"
              deprecated="true">
        </AggregationOperator>
     </extension>
     <extension
           point="org.knime.knip.core.Externalizer">
        <Externalizer
              Externalizer="org.knime.knip.base.data.img.ImgPlusCellMetadataExt0">
        </Externalizer>
        <Externalizer
              Externalizer="org.knime.knip.base.data.labeling.LabelingCellMetadataExt0">
        </Externalizer>
        <Externalizer
              Externalizer="org.knime.knip.base.data.BufferedImageExt0">
        </Externalizer>
        <Externalizer
              Externalizer="org.knime.knip.base.node.nodesettings.BaseObjectExt0">
        </Externalizer>
        <Externalizer
              Externalizer="org.knime.knip.base.data.labeling.LabelingCellMetadataExt1">
        </Externalizer>
     </extension>
     <extension
           point="org.knime.knip.base.Convolver">
        <Convolver
              Convolver="org.knime.knip.base.nodes.filter.convolver.DirectIterativeConvolverExt">
        </Convolver>
        <Convolver
              Convolver="org.knime.knip.base.nodes.filter.convolver.DirectAddDimConvolverExt">
        </Convolver>
        <Convolver
              Convolver="org.knime.knip.base.nodes.filter.convolver.ImgLib2IterativeConvolverExt">
        </Convolver>
        <Convolver
              Convolver="org.knime.knip.base.nodes.filter.convolver.ImgLib2AddDimConvolverExt">
        </Convolver>
     </extension>
     <extension
           point="org.knime.product.splashExtension">
        <splashExtension
              icon="icons/knip_splash_50.png"
              icon24="icons/knip_splash_24.png"
              icon32="icons/knip_splash_32.png"
              id="knime-ip"
              tooltip="Image Processing and Analysis">
        </splashExtension>
     </extension>
     <extension
           point="org.knime.workbench.repository.nodes">
        <node
              category-path="/community/knip/image/misc"
              factory-class="org.knime.knip.base.nodes.util.slicelooper.SliceIteratorLoopStartNodeFactory"
              id="org.knime.knip.base.nodes.util.slicelooper.SliceIteratorNodeFactory">
        </node>
        <node
              category-path="/community/knip/image/misc"
              factory-class="org.knime.knip.base.nodes.util.slicelooper.SliceIteratorLoopEndNodeFactory"
              id="org.knime.knip.base.nodes.util.slicelooper.CollectSlicesNodeFactory">
        </node>
        <node
              category-path="/community/knip/image/misc"
              factory-class="org.knime.knip.base.nodes.util.dontsave.DontSaveStartNodeFactory"
              id="org.knime.knip.base.nodes.util.dontsave.DontSaveStartNodeFactory">
        </node>
        <node
              category-path="/community/knip/image/misc"
              factory-class="org.knime.knip.base.nodes.util.dontsave.DontSaveEndNodeFactory"
              id="org.knime.knip.base.nodes.util.dontsave.DontSaveEndNodeFactory">
        </node>
     </extension>
     <extension
           point="org.knime.core.DataType">
        <DataType
              cellClass="org.knime.knip.base.data.img.ImgPlusCell"
              factoryClass="org.knime.knip.base.data.img.ImgPlusCellFactory">
           <serializer
                 cellClass="org.knime.knip.base.data.img.ImgPlusCell"
                 serializerClass="org.knime.knip.base.data.img.ImgPlusCellSerializer">
           </serializer>
        </DataType>
        <DataType
              cellClass="org.knime.knip.base.data.labeling.LabelingCell"
              factoryClass="org.knime.knip.base.data.labeling.LabelingCellFactory">
           <serializer
                 cellClass="org.knime.knip.base.data.labeling.LabelingCell"
                 serializerClass="org.knime.knip.base.data.labeling.LabelingCellSerializer">
           </serializer>
        </DataType>
     </extension>
     <extension
           point="org.knime.core.DataValueRenderer">
        <dataValue
              valueClass="org.knime.knip.base.data.img.ImgPlusValue">
           <renderer
                 rendererFactoryClass="org.knime.knip.base.renderer.KNIPThumbnailRendererFactory"
                 suggestAsDefault="false">
           </renderer>
        </dataValue>
        <dataValue
              valueClass="org.knime.knip.base.data.labeling.LabelingValue">
           <renderer
                 rendererFactoryClass="org.knime.knip.base.renderer.KNIPThumbnailRendererFactory"
                 suggestAsDefault="true">
           </renderer>
        </dataValue>
     </extension>
</plugin>
