<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="TableCellView" name="TableCellView" schema="schema/TableCellView.exsd"/>
   <extension-point id="Convolver" name="Convolver" schema="schema/Convolver.exsd"/>
     <extension
           point="org.knime.workbench.repository.categories">
        <category
              description="Image Processing and Mining Nodes from the University of Konstanz"
              icon="icons/hca.image.png"
              level-id="knip"
              name="KNIME Image Processing"
             path="/community">
        </category>
        <category
              description="Reading and writing images from/to various sources."
              icon="icons/hca.image.io.png"
              level-id="io"
              name="IO"
             path="/community/knip">
        </category>
        <category
              icon="icons/missing.gif"
              level-id="other"
              name="Other"
              path="/community/knip/io">
        </category>
        <category
              description="Operations on images"
              icon="icons/hca.image.png"
              level-id="image"
              name="Image"
              path="/community/knip">
        </category>
        <category
              icon="icons/hca.image.proc.png"
              level-id="process"
              name="Process"
             path="/community/knip/image">
        </category>
        <category
              icon="icons/hca.image.proc.bin.png"
              level-id="binary"
              name="Binary"
              path="/community/knip/image">
        </category>
        <category
              icon="icons/hca.image.filter.png"
              level-id="filters"
              name="Filters"
              path="/community/knip/image">
        </category>
        <category
              after="image"
              icon="icons/hca.image.seg.png"
              level-id="labeling"
              name="Labeling"
              path="/community/knip">
        </category>
        <category
              after="labeling"
              icon="icons/hca.image.feature.png"
              level-id="features"
              name="Features"
             path="/community/knip">
        </category>
        <category
              after="features"
              icon="icons/hca.image.view.png"
              level-id="views"
              name="Views"
             path="/community/knip">
        </category>
        <category
              after="process"
              icon="icons/hca.image.misc.png"
              level-id="metadata"
              name="Metadata"
             path="/community/knip/image">
        </category>
        <category
              icon="icons/missing.gif"
              level-id="misc"
              name="Misc"
              path="/community/knip/image">
        </category>
     </extension>
     <extension
           point="org.eclipse.ui.preferencePages">
        <page
              category="org.knime.workbench.ui.preferences"
              class="org.knime.knip.base.prefs.MainPreferencePage"
              id="org.knime.knip.base.prefs.MainPreferencePage"
              name="Image Processing Plugin">
        </page>
     </extension>
     <extension
           point="org.eclipse.core.runtime.preferences">
        <initializer
              class="org.knime.knip.base.prefs.PreferenceInitializer">
        </initializer>
     </extension>
     <extension
           point="org.knime.workbench.repository.nodesets">
        <nodeset
              expert-flag="false"
              factory-class="org.knime.knip.base.nodes.proc.ProcNodeSetFactory"
              id="org.knime.knip.base.nodes.proc.ProcNodeSetFactory">
        </nodeset>
        <nodeset
              expert-flag="false"
              factory-class="org.knime.knip.base.nodes.seg.LabNodeSetFactory"
              id="org.knime.knip.base.nodes.seg.LabNodeSetFactory">
        </nodeset>
        <nodeset
              expert-flag="false"
              factory-class="org.knime.knip.base.nodes.view.ViewsNodeSetFactory"
              id="org.knime.knip.base.nodes.view.ViewsNodeSetFactory">
        </nodeset>
        <nodeset
              expert-flag="false"
              factory-class="org.knime.knip.base.nodes.features.FeatureNodeSetFactory"
              id="org.knime.knip.base.nodes.features.FeatureNodeSetFactory">
        </nodeset>
        <nodeset
              expert-flag="false"
              factory-class="org.knime.knip.base.nodes.proc.binary.BinaryProcNodeSetFactory"
              id="org.knime.knip.base.nodes.proc.binary.BinaryProcNodeSetFactory">
        </nodeset>
        <nodeset
              expert-flag="false"
              factory-class="org.knime.knip.base.nodes.filter.FilterNodeSetFactory"
              id="org.knime.knip.base.nodes.filter.FilterNodeSetFactory">
        </nodeset>
        <nodeset
              expert-flag="false"
              factory-class="org.knime.knip.base.nodes.metadata.MetadataNodeSetFactory"
              id="org.knime.knip.base.nodes.metadata.MetadataNodeSetFactory">
        </nodeset>
        <nodeset
              expert-flag="false"
              factory-class="org.knime.knip.base.nodes.knimeimagebridge.ConversionNodeSetFactory"
              id="org.knime.knip.base.nodes.knimeimagebridge.ConversionNodeSetFactory">
        </nodeset>
        <nodeset
              expert-flag="false"
              factory-class="org.knime.knip.base.nodes.misc.MiscNodeSetFactory"
              id="org.knime.knip.base.nodes.misc.MiscNodeSetFactory">
        </nodeset>
        <nodeset
              expert-flag="false"
              factory-class="org.knime.knip.base.nodes.io.IONodeSetFactory"
              id="org.knime.knip.base.nodes.io.IONodeSetFactory">
        </nodeset>
     </extension>
     <extension
           point="org.knime.base.AggregationOperator">
        <AggregationOperator
              AggregationOperator="org.knime.knip.base.data.aggregation.ImgMeanOperator">
        </AggregationOperator>
        <AggregationOperator
              AggregationOperator="org.knime.knip.base.data.aggregation.ImgMaxOperator">
        </AggregationOperator>
        <AggregationOperator
              AggregationOperator="org.knime.knip.base.data.aggregation.ImgMinOperator">
        </AggregationOperator>
        <AggregationOperator
              AggregationOperator="org.knime.knip.base.data.aggregation.ImgMergeOperator">
        </AggregationOperator>
        <AggregationOperator
              AggregationOperator="org.knime.knip.base.data.aggregation.LabelingComposeOperator">
        </AggregationOperator>
        <AggregationOperator
              AggregationOperator="org.knime.knip.base.data.aggregation.ImgComposeOperator">
        </AggregationOperator>
        <AggregationOperator
              AggregationOperator="org.knime.knip.base.data.aggregation.LabelingComposeOperatorDeprecated"
              deprecated="true">
        </AggregationOperator>
        <AggregationOperator
              AggregationOperator="org.knime.knip.base.data.aggregation.ImgComposeOperatorDeprecated"
              deprecated="true">
        </AggregationOperator>
     </extension>
     <extension
           point="org.knime.knip.core.Externalizer">
        <Externalizer
              Externalizer="org.knime.knip.base.data.img.ImgPlusCellMetadataExt0">
        </Externalizer>
        <Externalizer
              Externalizer="org.knime.knip.base.data.labeling.LabelingCellMetadataExt0">
        </Externalizer>
        <Externalizer
              Externalizer="org.knime.knip.base.data.BufferedImageExt0">
        </Externalizer>
        <Externalizer
              Externalizer="org.knime.knip.base.node.nodesettings.BaseObjectExt0">
        </Externalizer>
        <Externalizer
              Externalizer="org.knime.knip.base.data.labeling.LabelingCellMetadataExt1">
        </Externalizer>
     </extension>
     <extension
           point="org.knime.knip.base.Convolver">
        <Convolver
              Convolver="org.knime.knip.base.nodes.filter.convolver.DirectIterativeConvolverExt">
        </Convolver>
        <Convolver
              Convolver="org.knime.knip.base.nodes.filter.convolver.DirectAddDimConvolverExt">
        </Convolver>
        <Convolver
              Convolver="org.knime.knip.base.nodes.filter.convolver.ImgLib2IterativeConvolverExt">
        </Convolver>
        <Convolver
              Convolver="org.knime.knip.base.nodes.filter.convolver.ImgLib2AddDimConvolverExt">
        </Convolver>
     </extension>
</plugin>
